<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body>

<header class="header_area" th:replace="fragments/header :: header"></header>


<!-- ================ By category product section start ================= -->
<section  id="bycategory" class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Aircraft's sorted by:</p>
            <h2 th:object="${brand}">Brand: <span class="section-intro__style" th:utext="*{name}"></span></h2>
        </div>
        <div class="row">

            <div th:each="prod : ${products}" class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <!--                th:text="${foo.messageData[0].name}
                                            th:src="@{/img/product/2005 Cessna 182T G1000 G-CEFV for sale at AT Aviation.jpeg}"-->
                        <img class="card-img" th:unless="${prod.pictureIds.isEmpty()}"
                             th:src="@{/picture/{pictureId}(pictureId=${prod.pictureIds.get(0)})}" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><button th:onclick="'window.location.href = \'' + @{/product/{prodId}(prodId=${prod.id})} + '\''" ><i class="ti-search" ></i></button></li>
                            <li><button><i class="ti-shopping-cart"></i></button></li>
                            <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p th:text="${prod.category}">Cesna</p>
                        <h4 class="card-product__title"><a th:href="@{/product/{prodId}(prodId=${prod.id})}" th:text="${prod.name}">2005 Cessna 182T G1000 G-CEFV</a></h4>
                        <p class="card-product__price"><span th:text=="${prod.price != 0} ? '£'+${prod.price} : 'call'"></span></p>
                    </div>
                </div>
            </div>

        </div>
</section>
<!-- ================ By category product section end ================= -->



<footer class="footer" th:replace="fragments/footer :: footer" />

<!--================ End footer Area  =================-->


<script th:replace="fragments/footer :: scripts"></script>
</body>
</html>