<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body>

<header class="header_area" th:replace="fragments/header :: header"></header>


<!-- ================ By category product section start ================= -->
<section  id="bycategory" class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Aircraft's sorted by:</p>
            <h2 th:object="${category}">Category: <span class="section-intro__style" th:utext="*{name}"></span></h2>
        </div>
        <div class="row">

            <div th:each="prod : ${products}" class="col-md-6 col-lg-4 col-xl-3">
                <div th:replace="fragments/product :: product (${prod})"></div>
            </div>

        </div>
</section>
<!-- ================ By category product section end ================= -->



<footer class="footer" th:replace="fragments/footer :: footer" />

<!--================ End footer Area  =================-->


<script th:replace="fragments/footer :: scripts"></script>
</body>
</html>