<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body>

<header class="header_area" th:replace="fragments/header :: header"></header>

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <div th:if="${lineItems.size()==0}" class="d-flex align-items-center">
                    <h5>Empty cart</h5>
                </div>
                <table class="table" th:unless="${lineItems.size()==0}">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Ask price</th>
                        <th scope="col">Bid price</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lineItem : ${lineItems}">
                        <td>
                            <div class="media">
                                <div class="col-4">
                                    <a th:href="@{/product/{prodId}(prodId=${lineItem.productRepr.id})}">
                                        <img class="img-thumbnail" th:unless="${lineItem.productRepr.pictureIds.isEmpty()}"
                                             th:src="@{{pictureServiceUrl}/picture/{pictureId}(pictureId=${lineItem.productRepr.pictureIds.get(0)}, pictureServiceUrl=${pictureServiceUrl})}"
                                             th:alt="${lineItem.productRepr.name}">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a th:href="@{/product/{prodId}(prodId=${lineItem.productRepr.id})}"
                                       th:text="${lineItem.productRepr.name}"></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5 class="col-3" th:text="'£'+${lineItem.productRepr.price}"></h5>
                        </td>
                        <td>
                            <div class="product_count">
                                <input type="text" name="bidPrice" id="bidPrice" maxlength="12"
                                       th:value="${lineItem.bidPrice}" title="Bid price:"
                                       class="input-text qty pl-1">
                                <button onclick="var result = document.getElementById('bidPrice'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                        class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i>
                                </button>
                                <button onclick="var result = document.getElementById('bidPrice'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                        class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            <form th:action="@{/cart}" th:method="delete">
                                <input type="hidden" name="productId" th:value="${lineItem.productId}" />
                                <input type="hidden" name="bidPrice" th:value="${lineItem.bidPrice}" />
                                <button type="submit" class="cart_quantity_delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td>
                            <h5>$[[${subTotal}]]</h5>
                        </td>
                    </tr>
                    <tr class="out_button_area">
                        <td class="d-none-l">

                        </td>
                        <td class="">

                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="checkout_btn_inner d-flex align-items-center">
                                <a class="primary-btn ml-2" href="#">Apply Bids</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
<div th:include="fragments/chat :: chat"/>

<footer class="footer" th:replace="fragments/footer :: footer"/>

<!--================ End footer Area  =================-->


<script th:replace="fragments/footer :: scripts"></script>


</body>
</html>