<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body>

<header class="header_area" th:replace="fragments/header :: header"></header>

  <main class="site-main">
    
    <!--================ Hero banner start =================-->
    <section class="hero-banner">
      <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
          <div class="col-5 d-none d-sm-block">
            <div class="hero-banner__img">
              <img class="img-fluid" th:src="@{/img/home/smallFly.png}" alt="">
            </div>
          </div>
          <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h4>Shop is fun</h4>
              <h1>BROWSE OUR EXTENSIVE STOCK OF QUALITY AIRCRAFT</h1>
              <p>In our aircraft sales stock you'll find the following popular names..</p>
              <a class="button button-hero" href="#">Browse Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero banner start =================-->

<!--    &lt;!&ndash;================ Hero Carousel start =================&ndash;&gt;-->
<!--    <section class="section-margin mt-0">-->
<!--      <div class="owl-carousel owl-theme hero-carousel">-->
<!--        <div class="hero-carousel__slide">-->
<!--          <img th:src="@{/img/home/cessna-logo-1.png}" alt="" class="img-fluid">-->
<!--          <a href="#" class="hero-carousel__slideOverlay">-->
<!--            <h3>Cessna aircraft for sale</h3>-->
<!--            <p>Showing all</p>-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="hero-carousel__slide">-->
<!--          <img th:src="@{/img/home/Piper_Aircraft_logo.svg.png}" alt="" class="img-fluid">-->
<!--          <a href="#" class="hero-carousel__slideOverlay">-->
<!--            <h3>Piper aircraft for sale</h3>-->
<!--            <p>Showing all</p>-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="hero-carousel__slide">-->
<!--          <img th:src="@{/img/home/cirrus-aircraft-logo-clipart.png}" alt="" class="img-fluid">-->
<!--          <a href="#" class="hero-carousel__slideOverlay">-->
<!--            <h3>Cirrus aircraft for sale</h3>-->
<!--            <p>Showing all</p>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    &lt;!&ndash;================ Hero Carousel end =================&ndash;&gt;-->

    <!-- ================ trending product section start ================= -->  
    <section class="section-margin calc-60px">
      <div class="container">
        <div class="section-intro pb-60px">
          <p>Popular Item in the market</p>
          <h2>Trending <span class="section-intro__style">Product</span></h2>
        </div>
        <div class="row">

          <div th:each="prod : ${products}" class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">
<!--                th:text="${foo.messageData[0].name}
                    th:src="@{/img/product/2005 Cessna 182T G1000 G-CEFV for sale at AT Aviation.jpeg}"-->
                <img class="card-img" th:unless="${prod.pictureIds.isEmpty()}"
                     th:src="@{/picture/{pictureId}(pictureId=${prod.pictureIds.get(0)})}" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button th:onclick="'window.location.href = \'' + @{/product/{prodId}(prodId=${prod.id})} + '\''" ><i class="ti-search" ></i></button></li>
                  <li><button><i class="ti-shopping-cart"></i></button></li>
                  <li><button><i class="ti-heart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p th:text="${prod.category}">Cesna</p>
                <h4 class="card-product__title"><a th:href="@{/product/{prodId}(prodId=${prod.id})}" th:text="${prod.name}">2005 Cessna 182T G1000 G-CEFV</a></h4>
                <p class="card-product__price"><span th:text=="${prod.price != 0} ? '£'+${prod.price} : 'call'"></span></p>
              </div>
            </div>
          </div>

      </div>
    </section>
    <!-- ================ trending product section end ================= -->  


    <!-- ================ offer section start ================= --> 
    <section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <div class="offer__content text-center">
              <h3>Up To 50% Off</h3>
              <h4>Winter Sale</h4>
              <p>Him she'd let them sixth saw light</p>
              <a class="button button--active mt-3 mt-xl-4" href="#">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ offer section end ================= --> 

    <!-- ================ Best Selling item  carousel ================= --> 
    <section class="section-margin calc-60px">
      <div class="container">
        <div class="section-intro pb-60px">
          <p>Popular Item in the market</p>
          <h2>Best <span class="section-intro__style">Sellers</span></h2>
        </div>
        <div class="owl-carousel owl-theme" id="bestSellerCarousel">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="img-fluid" th:src="@{/img/product/cesna172skyhawk.png}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Cesna</p>
              <h4 class="card-product__title"><a href="single-product.html">Cesna 172 skyhawk</a></h4>
              <p class="card-product__price">£64,495.00 - £205,000.00</p>
            </div>
          </div>

          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="img-fluid"  th:src="@{/img/product/PiperPA-28Series.png}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Piper</p>
              <h4 class="card-product__title"><a href="single-product.html">Piper PA-28 Series</a></h4>
              <p class="card-product__price">$£39,500.00 - £179,995.00</p>
            </div>
          </div>

          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="img-fluid" th:src="@{/img/product/cesna152.png}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Cesna</p>
              <h4 class="card-product__title"><a href="single-product.html">Cesna 150/152</a></h4>
              <p class="card-product__price">Out of stock</p>
            </div>
          </div>

          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="img-fluid" th:src="@{/img/product/cesna182Skylane.png}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Cesna</p>
              <h4 class="card-product__title"><a href="single-product.html">Cesna 182 Skylane</a></h4>
              <p class="card-product__price">£92,850.00 - £205,000.00</p>
            </div>
          </div>

          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="img-fluid" th:src="@{/img/product/PiperJ-3Cub.png}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Piper</p>
              <h4 class="card-product__title"><a href="single-product.html">Piper J-3 Cub</a></h4>
              <p class="card-product__price">£45,000.00</p>
            </div>
          </div>

          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="img-fluid" th:src="@{/img/product/BeechcraftBonanza.png}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Beechcraft</p>
              <h4 class="card-product__title"><a href="single-product.html">Beechcraft Bonanza</a></h4>
              <p class="card-product__price">Out of stock</p>
            </div>
          </div>

          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="img-fluid" th:src="@{/img/product/MooneyM20.png}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Mooney</p>
              <h4 class="card-product__title"><a href="single-product.html">Mooney M20</a></h4>
              <p class="card-product__price">Out of stock</p>
            </div>
          </div>

          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="img-fluid" th:src="@{/img/product/PiperPacer.png}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Piper</p>
              <h4 class="card-product__title"><a href="single-product.html">Piper Pacer</a></h4>
              <p class="card-product__price">Out of stock</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ Best Selling item  carousel end ================= --> 

    <!-- ================ Blog section start ================= -->  
    <section class="blog">
      <div class="container">
        <div class="section-intro pb-60px">
          <p>Popular Item in the market</p>
          <h2>Latest <span class="section-intro__style">News</span></h2>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card card-blog">
              <div class="card-blog__img">
                <img class="card-img rounded-0" th:src="@{/img/blog/changesInGAPilotmedical.jpg}" alt="">
              </div>
              <div class="card-body">
                <ul class="card-blog__info">
                  <li><a href="#">By Admin</a></li>
                  <li><a href="#"><i class="ti-comments-smiley"></i> 2 Comments</a></li>
                </ul>
                <h4 class="card-blog__title"><a href="single-blog.html">Changes to General Aviation pilot medical self-declarations</a></h4>
                <p>The current exemption that allows General Aviation (GA) pilots to self-declare their medical fitness expires on Wednesday 8 April 2020. The Civil Aviation Authority (CAA) is therefore advising affected pilots to act</p>
                <a class="card-blog__link" href="#">Read More <i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card card-blog">
              <div class="card-blog__img">
                <img class="card-img rounded-0" th:src="@{/img/blog/Ower6kGApilotsGivenEUGrants.png}" alt="">
              </div>
              <div class="card-body">
                <ul class="card-blog__info">
                  <li><a href="#">By Admin</a></li>
                  <li><a href="#"><i class="ti-comments-smiley"></i> 2 Comments</a></li>
                </ul>
                <h4 class="card-blog__title"><a href="single-blog.html">Over 6,000 GA pilots given 8.33 EU grants</a></h4>
                <p>The UK Civil Aviation Authority (CAA) has revealed it paid out more than £2.65m in grants to the GA community towards purchase of 8.33 kHz compatible radios. The funding, provided by the.</p>
                <a class="card-blog__link" href="#">Read More <i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card card-blog">
              <div class="card-blog__img">
                <img class="card-img rounded-0" th:src="@{/img/blog/caaStatementAndBraxit.png}" alt="">
              </div>
              <div class="card-body">
                <ul class="card-blog__info">
                  <li><a href="#">By Admin</a></li>
                  <li><a href="#"><i class="ti-comments-smiley"></i> 2 Comments</a></li>
                </ul>
                <h4 class="card-blog__title"><a href="single-blog.html">CAA statement on Sky News aviation and Brexit story</a></h4>
                <p>Commenting on today’s Sky News story on UK aviation and Brexit, Mark Swan, Group Director of Safety and Airspace Regulation at the UK Civil Aviation Authority, said: “It is misleading for Sky.</p>
                <a class="card-blog__link" href="#">Read More <i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ Blog section end ================= -->  

    <!-- ================ Subscribe section start ================= --> 
    <section class="subscribe-position">
      <div class="container">
        <div class="subscribe text-center">
          <h3 class="subscribe__title">Get Update From Anywhere</h3>
          <p>Bearing Void gathering light light his eavening unto dont afraid</p>
          <div id="mc_embed_signup">
            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1">
              <div class="form-group ml-sm-auto">
                <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" >
                <div class="info"></div>
              </div>
              <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>

            </form>
          </div>
          
        </div>
      </div>
    </section>
    <!-- ================ Subscribe section end ================= --> 


  </main>

	<footer class="footer" th:replace="fragments/footer :: footer" />

	<!--================ End footer Area  =================-->


<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>