<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body>

<header class="header_area" th:replace="fragments/header :: header"></header>


<!--	-->
<!--	&lt;!&ndash; ================ start banner area ================= &ndash;&gt;	-->
<!--	<section class="blog-banner-area" id="blog">-->
<!--		<div class="container h-100">-->
<!--			<div class="blog-banner">-->
<!--				<div class="text-center">-->
<!--					<h1>Shop Single</h1>-->
<!--					<nav aria-label="breadcrumb" class="banner-breadcrumb">-->
<!--            <ol class="breadcrumb">-->
<!--              <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--              <li class="breadcrumb-item active" aria-current="page">Shop Single</li>-->
<!--            </ol>-->
<!--          </nav>-->
<!--				</div>-->
<!--			</div>-->
<!--    </div>-->
<!--	</section>-->
<!--	&lt;!&ndash; ================ end banner area ================= &ndash;&gt;-->


  <!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="owl-carousel owl-theme s_Product_carousel">
						<div th:each="pic : ${product.pictureIds}" class="single-prd-item">
							<img class="img-fluid" th:unless="${product.pictureIds.isEmpty()}"
								 th:src="@{/picture/{pictureId}(pictureId=${pic})}" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text mb-5 mt-1">
						<h3 th:text="${product.name}">Faded SkyBlu Denim Jeans</h3>
						<h2><span th:text=="${product.price != 0} ? '£'+${product.price} : 'call'"></h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Brand</span> : <span th:text="${product.brand}"></span></a></li>
							<li><a class="active" href="#"><span>Category</span> : <span th:text="${product.category}"></span></a></li>
							<li><a href="#"><span>Availibility</span> : In Stock</a></li>
						</ul>
						<p>Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for
							something that can make your interior look awesome, and at the same time give you the pleasant warm feeling
							during the winter.</p>
						<div>
							<form th:action="@{/cart}" th:method="post">
								<input type="hidden" name="bidPrice" th:with="bidPrice=${product.price + 1}" th:value ="${bidPrice}"/>
								<input type="hidden" name="productId" th:value="${product.id}">
								<button type="submit" value="submit" class="button button-hero">Add to Cart</button>
							</form>
						</div>
<!--						<div class="card_area d-flex align-items-center">-->
<!--							<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>-->
<!--							<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>-->
<!--						</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

<div th:include="fragments/chat :: chat"/>

<footer class="footer" th:replace="fragments/footer :: footer" />

<!--================ End footer Area  =================-->


<script th:replace="fragments/footer :: scripts"></script>
</body>
</html>