<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Spring-MVC application</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Spring-MVC</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/user}">Users</a></li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/products}">Products</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/user/new}">Add User</a>
        </div>

        <div class="col-12 mt-3">
            <form>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" th:value="${param.name}"/>
                <button class="btn btn-primary" type="submit">Filter</button>
            </form>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Login</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${usersPage}">
                    <th scope="row" th:text="${user.id}">1</th>
                    <td th:text="${user.login}">User login</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/user/{id}(id = ${user.id})}"><i class="fas fa-edit"></i></a>
                        <form class="d-inline" th:action="@{/user/{id}/delete(id = ${user.id})}" th:method="delete">
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item"
                        th:classappend="${usersPage.number == 0} ? 'disabled'">
                         <span class="page-link"
                               th:unless="${usersPage.number > 0}">Previous</span>
                        <a class="page-link"
                           th:if="${usersPage.number > 0}"
                           th:href="@{user(page=${usersPage.number}, size=${usersPage.size})}">Previous</a>
                    </li>
                    <li th:each="num: ${#numbers.sequence(1, usersPage.totalPages)}"
                        class="page-item"
                        th:classappend="${num == usersPage.number + 1} ? 'active'">
                        <a class="page-link"
                           th:text="${num}"
                           th:href="@{user(page=${num}, size=${usersPage.size})}">1</a>
                        <!-- добавить сюда параметры через запятую в href-->
                    </li>
                    <li class="page-item"
                        th:classappend="${usersPage.number + 1 == totalPages} ? 'disabled'">
                        <span class="page-link"
                              th:unless="${usersPage.number < totalPages}">Next</span>
                        <a class="page-link"
                           th:if="${usersPage.number < totalPages}"
                           th:href="@{user(page=${usersPage.number + 2}, size=${usersPage.size})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>