<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/a-header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/a-header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/menu :: menu"></div>

    <div class="content p-4">
        <h2 class="mb-4">Blank/Starter</h2>

        <div class="card mb-4">
            <div class="card-body">
                Index Admin page
            </div>
        </div>
        <div th:include="fragments/chat :: chat"/>
    </div>
</div>
</body>
<script th:replace="fragments/a-footer :: scripts"></script>


</html>