<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootadmin.min.css}">

    <title>BootAdmin</title>
</head>
<body class="bg-light">

<header th:insert="fragments/general.html :: navbar"> </header>

<div class="d-flex">
    <div th:replace="fragments/general.html :: menu"></div>
    <div class="content p-4">
        <h2 class="mb-4">Roles</h2>

        <div class="card mb-4">
            <div class="card-body">

                <div class="container">
                    <div class="row py-2">
                        <div class="col-12">
                            <a class="btn btn-primary" th:href="@{/roles/add}">Add Role</a>
                        </div>


                        <div class="col-12">
                            <table class="table table-bordered my-2">
                                <thead>
                                <tr>
                                    <th scope="col">Id
                                    </th>
                                    <th scope="col">Role Name
                                    </th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="role : ${rolesPage.content}">
                                    <th scope="row" th:text="${role.id}">1</th>
                                    <td th:text="${role.name}">MacBook Air 13" CZ</td>
                                    <td>
                                        <a class="btn btn-success" th:href="@{/role/{id}(id = ${role.id})}"><i
                                                class="fas fa-edit"></i></a>
                                        <a class="btn btn-danger" th:href="@{/role/remove/{id}(id = ${role.id})}"><i
                                                class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-12">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item"
                                        th:classappend="${rolesPage.number == 0} ? 'disabled'">
                         <span class="page-link"
                               th:unless="${rolesPage.number > 0}">Previous</span>
                                        <a class="page-link"
                                           th:if="${rolesPage.number > 0}"
                                           th:href="@{roles(page=${rolesPage.number}, size=${rolesPage.size}, minP=${param.minP}, maxP=${param.maxP}, sort=${param.sort}, desc=${param.desc})}">Previous</a>
                                    </li>
                                    <li th:each="num: ${#numbers.sequence(1, totalPages)}"
                                        class="page-item"
                                        th:classappend="${num == rolesPage.number + 1} ? 'active'">
                                        <a class="page-link"
                                           th:text="${num}"
                                           th:href="@{roles(page=${num}, size=${rolesPage.size}, minP=${param.minP}, maxP=${param.maxP}, sort=${param.sort}, desc=${param.desc})}">1</a>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${rolesPage.number + 1 == totalPages} ? 'disabled'">
                        <span class="page-link"
                              th:unless="${rolesPage.number < totalPages}">Next</span>
                                        <a class="page-link"
                                           th:if="${rolesPage.number < totalPages}"
                                           th:href="@{roles(page=${rolesPage.number + 2}, size=${rolesPage.size}, minP=${param.minP}, maxP=${param.maxP}, sort=${param.sort}, desc=${param.desc})}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootadmin.min.js"></script>

</body>
</html>