<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/a-header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/a-header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/menu :: menu"></div>

    <div class="content p-4">
        <h2 class="mb-4">Users</h2>

        <div class="card mb-4">

            <div class="card-body h-100">
                <form class="form-group" th:action="@{/admin/user/create}">
                    <button type="submit" class="btn btn-primary">Create new</button>
                </form>

                <table id="users" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th class="actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usr : ${users}">
                        <td th:text="${usr.id}"></td>
                        <td th:text="${usr.username}">Admin</td>
                        <td th:text="${usr.email}"></td>
                        <td th:text="${usr.firstName}"></td>
                        <td th:text="${usr.lastName}"></td>
                        <td>
                            <a th:href="@{/admin/user/{id}/edit(id=${usr.id})}" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-fw fa-edit"></i>
                            </a>
                            <form th:action="@{/admin/user/{id}/delete(id=${usr.id})}" th:method="delete" class="d-inline">
                                <button class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Delete">
                                    <i class="fa fa-fw fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/a-footer :: scripts"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#users').DataTable();
    });
</script>

</body>
</html>