<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>EShop application</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">EShop</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">List</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/products/add}">Add Product</a>
        </div>

        <div class="col-12 mt-3">
            <form>
                <label>Min. price: </label>
                <input type="text" name="minP" id="minP" th:value="${param.minP}"/>
                <label>Max. price: </label>
                <input type="text" name="maxP" id="maxP" th:value="${param.maxP}"/>
                <input type="hidden" name="page"
                       th:value="${currentPage > totalPages} ? ${totalPages} : ${currentPage}"/>
                <input type="hidden" name="size" th:value="${param.size}"/>
                <button class="btn btn-primary" type="submit">Filter</button>
            </form>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">Id
                        <a th:href="@{products(page=${currentPage}, size=${param.size}, minP=${param.minP}, maxP=${param.maxP}, sort='id', desc='false')}">
                            &#9650; <!--вверх-->
                        </a>
                        <a th:href="@{products(page=${currentPage}, size=${param.size}, minP=${param.minP}, maxP=${param.maxP}, sort='id', desc='true')}">
                            &#9660; <!--вниз-->
                        </a>
                    </th>
                    <th scope="col">Name
                        <a th:href="@{products(page=${currentPage}, size=${param.size}, minP=${param.minP}, maxP=${param.maxP}, sort='title', desc='false')}">
                            &#9650; <!--вверх-->
                        </a>
                        <a th:href="@{products(page=${currentPage}, size=${param.size}, minP=${param.minP}, maxP=${param.maxP}, sort='title', desc='true')}">
                            &#9660; <!--вниз-->
                        </a>
                    </th>
                    <th scope="col">Price
                        <a th:href="@{products(page=${currentPage}, size=${param.size}, minP=${param.minP}, maxP=${param.maxP}, sort='cost', desc='false')}">
                            &#9650; <!--вверх-->
                        </a>
                        <a th:href="@{products(page=${currentPage}, size=${param.size}, minP=${param.minP}, maxP=${param.maxP}, sort='cost', desc='true')}">
                            &#9660; <!--вниз-->
                        </a>
                    </th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${productsPage.content}">
                    <th scope="row" th:text="${product.id}">1</th>
                    <td th:text="${product.title}">MacBook Air 13" CZ</td>
                    <td th:text="${product.cost}">$1000</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/products/{id}(id = ${product.id})}"><i
                                class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" th:href="@{/products/remove/{id}(id = ${product.id})}"><i
                                class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item"
                        th:classappend="${productsPage.number == 0} ? 'disabled'">
                         <span class="page-link"
                               th:unless="${productsPage.number > 0}">Previous</span>
                        <a class="page-link"
                           th:if="${productsPage.number > 0}"
                           th:href="@{products(page=${productsPage.number}, size=${productsPage.size}, minP=${param.minP}, maxP=${param.maxP}, sort=${param.sort}, desc=${param.desc})}">Previous</a>
                    </li>
                    <li th:each="num: ${#numbers.sequence(1, totalPages)}"
                        class="page-item"
                        th:classappend="${num == productsPage.number + 1} ? 'active'">
                        <a class="page-link"
                           th:text="${num}"
                           th:href="@{products(page=${num}, size=${productsPage.size}, minP=${param.minP}, maxP=${param.maxP}, sort=${param.sort}, desc=${param.desc})}">1</a>
                    </li>
                    <li class="page-item"
                        th:classappend="${productsPage.number + 1 == totalPages} ? 'disabled'">
                        <span class="page-link"
                              th:unless="${productsPage.number < totalPages}">Next</span>
                        <a class="page-link"
                           th:if="${productsPage.number < totalPages}"
                           th:href="@{products(page=${productsPage.number + 2}, size=${productsPage.size}, minP=${param.minP}, maxP=${param.maxP}, sort=${param.sort}, desc=${param.desc})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>