body {
    background-color: #f8f8f8;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: black;
}

.menu li {
    font-family: sans-serif;
    list-style-type: none;
    font-weight: bold;
    color: black;
    /* Убираем маркеры */
}

.menu li a {
    font-family: sans-serif;
    font-size: 14px;
    color: blue;
    font-weight: normal;
}

.menu a:hover {
    color: black;
}

.menu {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}

#logo {
    text-indent: -9999px;
}

#logo a {
    display: block;
    width: 80px;
    height: 60px;
    background: url("img/oldPhoneSmall.png") no-repeat;
}

/* стили каталога */
.detailed_description h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.shord_discription {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.complete_discription {
    color: #484242;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.detailed_description h3,
ul li {
    color: #707070;
    font-size: 16px;
}

.detailed_desc_ul {
    list-style-image: url(img/marker.jpg);
    /* не нашел варианта, как выпрямить картинку пор центру текста */
}

.detailed_description p:first-letter {
    text-transform: capitalize;
}

.detailed_description img,
.catalog img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 350px;
}

.detailed_description img:hover,
.catalog img:hover {
    border: 1px solid transparent;
}

.catalog a {
    font-family: Verdana;
    font-size: 12px;
    color: blue;
}



/* форма контактов*/

fieldset {
    display: block;
    width: 580px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
    text-align: center;
}

.contact_form {
    font-family: sans-serif;
    font-size: 14px;
}

.contact_form ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.contact_form li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.contact_form label {
    font-size: 12px;
    text-align: left;
    width: 150px;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
}

.contact_form input {
    height: 20px;
    width: 405px;
    color: black;
}

.contact_form input::placeholder,
.contact_form textarea::placeholder {
    font-family: sans-serif;
    color: darkgray;
    font-size: 12px;
    font-style: italic;
}

.contact_form textarea {
    font-size: 14px;
    margin: 0px;
    width: 565px;
    height: 100px;
    margin-top: 5px;
    padding: 5px;
}

.contact_form input[type=submit],
.contact_form input[type=reset] {
    cursor: pointer;
    width: 150px;
    margin-left: 15px;
    display: inline-block;
}

input[type=email]:focus {
    background-color: chocolate;
    color: cyan;
}

.contact_form input[type=text] {
    text-transform: capitalize;
}

table {
    border: 1px solid #000;
}

th {
    line-height: 2em;
    border-bottom: solid black;
}

td,
th {
    padding: 5px;
    border-right: 1px solid black;
    vertical-align: top;
}

td:last-child,
th:last-child {
    border-right: none;
}



.footer::after {
    content: "\00a9  Все права защищены";
}